<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workingagenda.democracydroid">

    <application
        android:name="com.workingagenda.democracydroid.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:icon="@drawable/appicon"
            android:label="About Democracy Droid"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workingagenda.democracydroid.MainActivity" />
        </activity>
        <activity
            android:name=".StoryActivity"
            android:icon="@drawable/appicon"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workingagenda.democracydroid.MainActivity" />
        </activity>
        <activity
            android:name=".MediaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/appicon"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workingagenda.democracydroid.MainActivity" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:icon="@drawable/appicon"
            android:label="@string/name_setting"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workingagenda.democracydroid.MainActivity" />
        </activity>
        <service android:name=".MediaService">
            <intent-filter>
                <action android:name=".MediaService"></action>
            </intent-filter>
        </service>


    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
