<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="8"
    android:versionName="1.6.0"
    package="com.workingagenda.democracydroid">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:icon="@drawable/appicon"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity"
            android:label="About Democracy Droid"
            android:icon="@drawable/appicon"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
              <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                  android:value="com.workingagenda.democracydroid.MainActivity" />
        </activity>
        <activity
            android:name=".StoryActivity"
            android:label="@string/app_name"
            android:icon="@drawable/appicon"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
              <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                  android:value="com.workingagenda.democracydroid.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/name_setting"
            android:icon="@drawable/appicon"
            android:theme="@style/SettingsTheme"
            android:parentActivityName=".MainActivity">
              <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                  android:value="com.workingagenda.democracydroid.MainActivity" />
        </activity>


    </application>

</manifest>
