<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workingagenda.democracydroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/appicon"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.about.AboutActivity"
            android:icon="@drawable/appicon"
            android:label="About Democracy Droid"
            android:parentActivityName=".screens.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workingagenda.democracydroid.screens.main.MainActivity" />
        </activity>
        <activity
            android:name=".screens.story.StoryActivity"
            android:icon="@drawable/appicon"
            android:label="@string/app_name"
            android:parentActivityName=".screens.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workingagenda.democracydroid.screens.main.MainActivity" />
        </activity>
        <activity
            android:name=".screens.media.MediaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/appicon"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:parentActivityName=".screens.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workingagenda.democracydroid.screens.main.MainActivity" />
        </activity>

        <service android:name=".MediaService">
            <intent-filter>
                <action android:name=".MediaService"></action>
            </intent-filter>
        </service>

        <activity
            android:name=".screens.settings.SettingsActivity"
            android:icon="@drawable/appicon"
            android:label="@string/name_setting"
            android:parentActivityName=".screens.main.MainActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workingagenda.democracydroid.screens.main.MainActivity" />
        </activity>

    </application>

</manifest>